
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
KokoTalk/obj/Debug/KokoTalk.pdb
KokoTalk/obj/Debug/KokoTalk.dll
KokoTalk/obj/Debug/KokoTalk.csprojResolveAssemblyReference.cache
KokoTalk/obj/Debug/KokoTalk.csproj.FileListAbsolute.txt
KokoTalk/obj/Debug/KokoTalk.csproj.CoreCompileInputs.cache
KokoTalk/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KokoTalk/KokoTalk.csproj
.vs/config/applicationhost.config
.vs/KokoTalk/v15/.suo
.vs/KokoTalk/v15/Server/sqlite3/storage.ide
.vs/KokoTalk/v15/Server/sqlite3/storage.ide-shm
.vs/KokoTalk/v15/Server/sqlite3/storage.ide-wal
KokoTalk/bin/KokoTalk.dll
KokoTalk/bin/KokoTalk.pdb
